<%- include("../includes/header.ejs", {title:"Points - View All"}); %>
<div class="center">
<h1>Seasonal Points</h1>

<table border="2", align="center">
    <tr><th>Rider</th><th>Seasonal Points</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td style="color: #d200ff"><%= result[i].First + " " + result[i].Last %></td>
        <td><%= result[i].Season_Points %></td>
    </tr>
    <% } %>
</table>
<br />
<a href="/" style="color: #0002ff">Back to Main Page</a>
</body>
</div>
<%- include("../includes/footer.ejs"); %>