<%- include("includes/header2.ejs", {title: "About"}); %>

<img src="http://i.imgur.com/ZrBkDox.png" style="width:500px;height:700px;">
</br>
<b><a href="/about" style="background-color: yellowgreen" >Back to the About Page</a></b>



<%- include("includes/footer.ejs"); %>